
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
// ШРИФТЫ >==========================================
$fontfamily: "Lato";//Colors

$borderRed500: #f56565;
$borderGray200: #edf2f7;
$borderGray300: #e2e8f0;

$textGray700: #4a5568;
$textRed500: #f56565;
$textGreen500: #48bb78;
$textBlue100: #ebf8ff;

$bgGray200: #edf2f7;
$bgBlue500: #4299e1;
$bgBlue700: #2b6cb0;
$bgBlue800: #2c5282;
$bgGreen500: #48bb78;
$bgTeel600: #38a169;

// Viewpor

$minViewportWidth: 320;
$maxViewportWidth: 1280; // for adaptive fs