//Colors

$borderRed500: #f56565;
$borderGray200: #edf2f7;
$borderGray300: #e2e8f0;

$textGray700: #4a5568;
$textRed500: #f56565;
$textGreen500: #48bb78;

$bgGray200: #edf2f7;
$bgBlue500: #4299e1;
$bgBlue700: #2b6cb0;
$borderRed: #f56565;

// Viewpor

$minViewportWidth: 320;
$maxViewportWidth: 1280; // for adaptive fs