.input-message {
  margin: 15px;
  background-color: $bgBlue500;
  border-radius: 10px;
  &__button {
    font-size: 36px;
    text-align: center;
    text-align: justify;
    color: $textGray700;
    border-radius: 5px;
    padding: 5px 5px 15px 5px;
    &:hover {
      color: $textBlue100;
    }
    &:focus {
      background-color: $bgTeel600;
    }
  }
  .input-container {
    display: flex;
  }
  .chat-input-wrapper {
    display: block;

    width: 100%;
    position: relative;
    z-index: 2;
    /*background: #32A8E6;*/
    padding: 0.5em 0;
    border-radius: 0 0 2px 2px;
    color: #fff;
  }

  .chat-input {
    word-break: break-word;
    outline: none;
    resize: none;
    overflow: hidden;
    min-height: 38px;
    -webkit-flex: 1;
    flex: 1;
    font-size: 14px;
    padding: 1vw 1vw 1vw 0;
    cursor: text;
  }

  .chat-input:empty::before {
    content: "Write something...";
    color: #2b8ec2;
  }

  // &__input {
  //   flex: 1 0 95%;
  //   font-size: 14px;
  //   color: $textGray700;
  //   // border-radius: 5px;
  //   border: 1 solid $bgBlue500;
  //   background-color: $bgBlue500;
  //   &:focus {
  //     background-color: $textBlue100;
  //   }
  // }
  // .input-container{
  // //   padding: 10px 0;
  // //   overflow: auto;
  //   display: flex;
  //   flex: 1 0 100%;
  // }
}
